.navbar-portal-formosa {
    background: #0dbacc;
}

body {
    background: #fff;
}

footer.footer-site-padrao {
    box-shadow: 0 8px 19px black;
    background: #fdfdfd;
    z-index: 9999;
}

.texto-apresentacao {
    text-transform: uppercase;
    margin-top: 43px;

}

.texto-apresentacao h1 {
    font-weight: bold;
}

.online {
    color: #00cd49;
    border-bottom: 2px solid #d04d00;
}

.empresa {
    color: #0298af;
}

.descricao {
    color: #717070;
    font-weight: 100;
    text-align: center;
    font-family: inherit;
}

.img-entrada {
    max-width: 900px;
}

.form-cadastro-empresa {
    color: #fff;
    margin-top: -16px;
    background: url("../img/cadastro-empresa/fundo-cadastro-empresa-formosa-2.png") no-repeat fixed center;
    background-size: cover;
    -webkit-box-shadow: 0 0 4px #443939;
    -moz-box-shadow: 0 0 4px #443939;
    box-shadow: 0 0 4px #443939;
}

.form-control {
    padding: 5px 15px 5px 45px;
    width: 100%;
    height: 50px;
    border-radius: 1px;
    background: #ffffff73;
    box-shadow: none;
    color: #616161;
    font-weight: 700;
    font-size: 0.9em;
    font-family: inherit;
}

.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fgroup {
    box-shadow: -1px 2px 10px #e0dddd;
    padding: 20px;
    border-radius: 10px;
}

.alert-pf {
    color: #ffffff;
    background-color: #ca0000;
    border-color: #d40d5f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.alert-pf-s {
    color: #ffffff;
    background-color: #13015d;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

dl, ol, ul {
    margin-bottom: 0;
}

.footer-apresentacao {
    width: 50%;
    border-top: 2px solid rgb(20, 204, 230);
    opacity: .4;
}

.comunidade {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.75rem;
}

.need-login {
    background: #c91e20;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #7d2814;
    margin-top: 75px;
    margin-bottom: 75px;
    -webkit-box-shadow: 0px 3px 3px #c91e2030;
    -moz-box-shadow: 0px 3px 3px #c91e2030;
    box-shadow: 0px 3px 3px #c91e2030;
}

.auth {
    color: #6f2725;
}

.auth:hover,
.auth:focus {
    color: #ffa637;
}

.icon-pf-input{
    position: absolute;
    margin-left: 12px;
    height: 25px;
    font-size: 2em;
    display: flex;
    color: #e6e6e6;
    align-items: center;
    margin-top: 15px;
}
input{
    padding-left: 25px;
    height: 20px;
}

