@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One Regular'), local('PassionOne-Regular'), url(https://fonts.gstatic.com/s/passionone/v8/PbynFmL8HhTPqbjUzux3JEuR9l4.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v6/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
.lead {
  font-family: 'Open Sans', sans-serif !important;
  color: #4a4a4a;
  font-size: 20px;
}
body {
  background: #fff !important;
}
footer.footer-site-padrao {
  background: #080808;
}
footer.footer-site-padrao a {
  color: #656565;
}
.menu-evento {
  list-style: none;
  margin: 15px 0 15px 0;
}
.menu-evento .item-evento {
  display: inline-block;
}
.menu-evento .item-evento a.link-evento {
  text-transform: uppercase;
  color: #9100ff;
  background: transparent;
  padding: 10px 40px;
  font-family: 'Righteous', cursive;
  border-radius: 80px 600px;
}
.menu-evento .item-evento a.link-evento:hover {
  text-transform: uppercase;
  color: #fff;
  background: #d800ff;
  border-radius: 80px 600px;
}
.evento-principal .container-fluid {
  min-height: 100vh;
  background: url("../img/eventos/fundo-eventos-portal-formosa.png") no-repeat;
  background-attachment: local;
  background-size: cover;
}
.titulos {
  margin-top: 50px;
}
.titulos .titulo-principal {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  font-family: 'Kanit', cursive;
  margin-bottom: 30px;
}
.titulos .subtitulo {
  font-size: 23px;
  width: 630px;
  font-weight: 100;
  text-align: center;
  color: #fff;
}
.btn-cadastrar:hover,
.btn-cadastrar {
  background: #cf57f7;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 33px;
  margin-top: 20px;
  margin-right: 15px;
}
.btn-eventos:hover,
.btn-eventos {
  background: #ff234b;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 33px;
  margin-top: 20px;
  margin-left: 15px;
}
.btn-cadastrar:hover {
  -webkit-box-shadow: 1px 4px 10px #00000085;
  -moz-box-shadow: 1px 4px 10px #00000085;
  box-shadow: 1px 4px 10px #00000085;
}
.btn-eventos:hover {
  -webkit-box-shadow: 1px 4px 10px #751f2f;
  -moz-box-shadow: 1px 4px 10px #751f2f;
  box-shadow: 1px 4px 10px #751f2f;
}
.btn-success {
  color: #fff;
  background-color: #0ee6d2;
  border-color: #03ead5;
}
.btn-success:focus,
.btn-success:hover {
  color: #fff;
  background-color: #00ad9d;
  border-color: #3de4d5;
}
#previewBanner {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
}
.bg-form {
  background: #8500ff;
}
